{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Button trigger modal -->

<br>
<div class="d-flex justify-content-center" style="align-items: center;">
    <h3 style="font-family: 'Sriracha', cursive;">Appointment has been done successfully.</h3>
    <br><br><br><br>
</div>

<div class="d-flex justify-content-center" style="align-items: center;">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        See your appointment content <i class="fa fa-angle-double-right"></i>
    </button>
</div>

<br><br>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thank You ! {{ your_name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <strong>Thanks for giving your contact information. <br></strong>
                <strong>Your Email :- {{your_email}} <br></strong>
                <strong>Your Email :- {{your_phone}} <br></strong>
                <p>You have chosen a scheldule at :- {{ your_scheldule }} on day {{ your_date }} this week</p>
            </div>
            <div class="modal-footer">
                <a href="{% url 'home' %}">
                    <button type="button" action="" class="btn btn-primary">
                        Go to home
                    </button>
                </a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}